{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container mx-auto px-4">
    <h1 class="text-l text-blue-950 font-bold mt-1">Stock vs delivered</h1>
    <a href="{% url 'pie_charts' %}" class="block w-40 mt-4 mb-6 mx-auto text-center p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded">
        Back to pie charts
    </a>    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for product, data in stock_data.items %}
        <div class="p-6 shadow-md rounded-lg border border-gray-300">
            <h2 class="text-lg font-semibold text-center mb-4">{{ product }}</h2>
            <div class="bg-yellow-200 p-2 rounded">
                <span class="text-gray-700 font-bold">Ordered:</span> {{ data.ordered }} ({{ data.ordered_percentage|floatformat:2 }}%)
            </div>
            <canvas id="pieChart-{{ forloop.counter }}" width="500" height="500"></canvas>
            <script>
                var ctx = document.getElementById('pieChart-{{ forloop.counter }}').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Stock', 'Delivered'],
                        datasets: [{
                            data: [
                                {{ data.stock }},
                                {{ data.delivered }},
                            ],
                            backgroundColor: [
                                'rgba(100, 149, 237, 1)',  
                                'rgba(255, 99, 132, 1)'    
                            ],
                            borderColor: [ 
                                'rgba(100, 149, 237, 1)',  
                                'rgba(255, 99, 132, 1)'   
                            ],
                            borderWidth: 0 
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false 
                            },
                            title: {
                                display: true,
                                text: ''
                            }
                        }
                    }
                });
            </script>                
            <div class="flex flex-col mt-4 text-left">
                <div class="bg-blue-200 p-2 rounded">
                    <span class="text-gray-700 font-bold">Stock:</span> {{ data.stock }} ({{ data.new_stock_percentage | floatformat:2 }}%)
                </div>
                <div class="bg-red-200 p-2 rounded"> 
                    <span class="text-gray-700 font-bold">Delivered:</span> {{ data.delivered }} ({{ data.delivered_percentage|floatformat:2 }}%)
                </div>
            </div>                
        </div>
        {% endfor %}
    </div>
</div>
<div class="h-[100px]"></div>
{% endblock %}
