{% extends 'base.html' %} 
{% load humanize %}
{% block content %}
<div class="container mx-auto px-4">
   <ul class="max-w-md mx-auto divide-y divide-gray-200 dark:divide-gray-700">
   {% for sales_associate in sales_associates %}
        <li class="pb-3 sm:pb-4 bg-gray-100 dark:bg-gray-800 p-5 rounded-lg my-4 shadow-lg">
            <div class="flex items-center space-x-4 rtl:space-x-reverse justify-center">
                <div class="flex-shrink-0">
                    <a href="#" >
                        <img class="w-8 h-8 rounded-full" 
                         src="https://gravatar.com/avatar/4f040cb8f1f11e4d321271d8274f5698?s=400&d=retro&r=x" 
                         alt="Avatar">
                    </a>                    
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        {{ sales_associate.sales_associate_name }}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        {{ sales_associate.sales_associate__username }}
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-800 dark:text-white">
                    P.Q.: {{ sales_associate.total_quantity }}
                </div>
            </div>
        </li>
   {% endfor %}
   </ul> 
</div>
{% endblock %}
