{% extends 'base.html' %} {% block content %}
<h1 class="text-2xl text-blue-950 text-center font-bold mb-8 mt-10">Products</h1>

<ul class="space-y-6">
  {% for product in products %}
  <li>
    <div
    style="background-color: #f1feff; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
    class="w-[90%] max-w-[400px] mx-auto p-5 rounded-large">
        <h3 class="px-4 text-xl pt-16 pb-4 mb-2 text-blue-950 font-medium font-roboto">{{ product.name }}</h3>
        <p class="px-4 text-lg text-zinc-600 pb-16 md:pr-10 font-roboto">{{ product.description }}</p>
        <div class="flex justify-between items-center space-x-4"> 

          <label class="p-2 bg-amber-400 text-sm text-black font-roboto rounded-lg">
              <span class="font-semibold">Price:</span> ${{ product.price|floatformat:0 }}
          </label>
      
          <label class="p-2 bg-amber-400 text-sm text-black font-roboto rounded-lg">
              <span class="font-semibold">Quantity:</span> {{ product.quantity }}
          </label>
      
          <form action="{% url 'delete_product' product.pk %}" method="GET" class="inline-block">
            {% csrf_token %}
            <button type="submit" class="focus:outline-none p-2 transition duration-300 hover:scale-105">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAATRJREFUaEPtmVEOwkAIROnN9GTqyfRmWowmzabpAAM1jexPP1hY5s1W0zDJwdd08P6lBfzaQdaBk4hcRESfkXWbk66RxG8OK+DJHL7IPc8QHpFajAAlp/QzljavItyLEZBFn7oNmQK8tUYA3vy38FDSBxnbAJvfAliCbD50IPsldf/CDAmr133rHWgBLPK/d2AEmPLSbbgSqu/5Hwgd4LhGofotwEEYbf25A6gBNr4KIPMKsQ2i/BaACFXH24Fqwqh+O4AIVcfbgWrCqH47gAhVx9uBasKofjuACFXHyx1AHywojgC0gBAhhH0RD9XP/CJz9Lq6dXcBbMMo3wTXtOlz0p0Y5qFmx7h5+OcRoJNIFbHHMvdl3rjoOnO4N8LQYZ/SN08sIwL2cMB8RgswoyraeHgHXlGTajExJxkUAAAAAElFTkSuQmCC"/>
              </button>
            </form>
      </div>
                     
      </div>          
  </li>
  {% endfor %}
</ul>
{% endblock %}
